.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #fff;
  border-radius: 1rem;
  transition: .3s;
}

.acordeon.open,
.acordeon:hover {
  background-color: #55569e;
  border-color: #55569e;
}


.trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 1rem;
  background: transparent;
  color: #fff;
  border: none;
}

.trigger:hover {
  cursor: pointer;
}

.trigger::after {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url('../img/icons/arrow-top.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: .25s;
}

.acordeon.open .trigger::after{
  transform: rotate(180deg);
}

.acordeon .content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
  display: block;
  height: auto;
  padding: 0 1rem 1rem 1rem;
  opacity: 1;
}