@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: Neue Machina;
  src: url(../fonts/neue-machina-regular.otf);
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.header__main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}
