@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: Neue Machina;
  src: url(../fonts/neue-machina-regular.otf);
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.main::before,
.main::after 
{
  content: '';
  display: inline-block;
  width: 130vw;
  height: 90vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url('../img/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


.main::after{
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}