.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header .avatar {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

.header__title {
  font-family: 'Neue Machina';
}

.header__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem;
  font-size: 1.125em;
}


.header__info p::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(95%);
  margin-right: .5rem;
}

.header__info .person::before {
  background-image: url('../img/icons/person-outline.svg');
}

.header__info .location::before {
  background-image: url('../img/icons/location-outline.svg');
}

.header__info .phone::before {
  background-image: url('../img/icons/call-outline.svg');
}

.header__info .mail::before {
  background-image: url('../img/icons/mail-outline.svg');
}